<script id="template-home" type="text/x-handlebars-template">
  <div class="jumbotron">
    <h1 id="titulo">Hello {{user.nome}}</h1>
    <p>This is your frontpage!</p>
  </div>
</script>

<script id="template-about" type="text/x-handlebars-template">
  <div class="jumbotron">
    <h1 id="titulo">About us</h1>
    <p>Some jibber jabber!</p>
    <p><button type="button" class="btn btn-warning" data-action="modal">More info...</button></p>
  </div>
</script>

<script id="template-menu" type="text/x-handlebars-template">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">treejs sample</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul id="menu-usuario" class="nav navbar-nav">
        <li class="active"><a class="menu-link" href="#">Home</a></li>
        <li><a class="menu-link" href="#users">Users</a></li>
        <li><a class="menu-link" href="#about">About</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div><!--/.nav-collapse -->
</div><!--/.container-fluid -->
</script>

<script id="template-screen" type="text/x-handlebars-template">
  <!-- Static navbar - menu view -->
  <div id="top" class="navbar navbar-default" role="navigation">        
  </div>

  <!-- Main view -->
  <div id="middle">        
  </div>
</script>

<script id="template-modal" type="text/x-handlebars-template">
  <div id="{{id}}" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{{title}}</h4>
        </div>
        <div class="modal-body">
          <p>{{{body}}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</script>

<script id="template-modal-prompt" type="text/x-handlebars-template">
  <div id="{{id}}" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{{title}}</h4>
        </div>
        <div class="modal-body">
          <p>{{body}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary yes" data-dismiss="modal">Yes</button> <button type="button" class="btn btn-default no" data-dismiss="modal">No</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</script>

<script id="template-modal-login" type="text/x-handlebars-template">
  <div id="{{id}}" class="modal fade" data-backdrop="static">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">treejs sample app</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" role="form">              
              <input id="login-username" type="text" class="form-control" placeholder="Username" style="margin-bottom:10px;">
              <input id="login-password" type="password" class="form-control" placeholder="Password" style="margin-bottom:10px;">
              <p id="feedback" style="padding:4px; margin-bottom:0px; color:#FF2222; font-weight:bold;"></p>
          </form>
        </div>
        <div class="modal-footer"><button id="login-button" type="button" class="btn btn-primary login">Login</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</script>